.App {
   /* text-align: center; */
   background-image: url('./img/rick-and-morty-garage-lab-1024x576.jpg');
   background-repeat: no-repeat;
   width: 100%;
   height: 100%;
   display: flex;
   background-size: cover;
   position: fixed;
   /* overflow: scroll; */
 }

